<!DOCTYPE html>
<html>
<head>
	<title>Delete User</title>
</head>
<body>
	<form method="post">
			<table>
				<tr>
					<td>Company Name:</td>
					<td><%=companyname%></td>
				</tr>
				<tr>
					<td>Job Title:</td>
					<td><%=jobtitle%></td>
				</tr>
				<tr>
					<td>Job Location:</td>
					<td><%=joblocation%></td>
				</tr>
				<tr>
					<td>Salary:</td>
					<td><%=salary%></td>
				</tr>
				<tr>
					<td>Are you sure?</td>
				</tr>
				<tr>
					<td><button type="submit">Confirm</button></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>